.modal {
    &__conteiner {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(202, 202, 202, 0.5);
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        z-index: 32;
        &_hidden {
            display: none;
        }
    }
    &__wrapper {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 1rem;
    }
}
.form {
    &__info {
        @media screen and (max-width: 767px) {
            flex-basis: 42%;
        }
        @media screen and (max-width: 479px) {
            flex-basis: 100%;
        }
        flex-basis: 49%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 1rem;
    }
    &__description {
        @media screen and (max-width: 767px) {
            flex-basis: 57%;
        }
        @media screen and (max-width: 479px) {
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 0 2rem;
        }
        padding-bottom: 1rem;
        width: 49%;
    }
    &__choose-size {
        flex-basis: 100%;
        margin-top: 1.75rem;
        opacity: 1;
        transition: 0.5s;
        &_hidden {
            height: 0;
            opacity: 0;
        }
    }
    &-input {
        grid-row: span 2;
        width: 13.75rem;
        height: 3.8125rem;
        border: 1px solid #ffa901;
        border-radius: 16px;
        padding-left: 2rem;
    }
}
.info {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__img {
        @media screen and (max-width: 479px) {
            width: 50%;
            order: 1;
        }
        width: 100%;
        height: auto;
    }
    &__caption {
        font-size: 1.3125rem;
        line-height: 170.4%;
        margin: 0;
    }
    &__list {
        @media screen and (max-width: 767px) {
            flex-basis: 80%;
        }
        @media screen and (max-width: 479px) {
            column-count: 2;
        }
        margin: 0;
        padding: 0;
        & > li {
            font-weight: 400;
            font-size: 1rem;
            list-style: none;
        }
        &-wrapper {
            @media screen and (max-width: 767px) {
                flex-basis: 80%;
            }
            @media screen and (max-width: 479px) {
                flex-basis: 100%;
                order: 3;
            }
            flex-basis: 60%;
        }
    }
    &__propert {
        font-weight: 400;
        font-size: 1rem;
        margin: 0;
        &-wrapper {
            @media screen and (max-width: 767px) {
                flex-basis: 80%;
            }
            @media screen and (max-width: 479px) {
                flex-basis: 48%;
                display: flex;
                flex-direction:column;
                justify-content: flex-end;
                order: 2;
                & > p {
                    flex-basis:100%;
                    margin: 0;
                }
            }

            flex-basis: 37%;
        }
    }
    &__addtext {
        @media screen and (max-width: 767px) {
            flex-basis: 80%;
            order: 4;
        }
        flex-basis: 100%;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.3125rem;
        margin: 0.75rem 0 0;
    }
}
p + p.info__caption {
    margin-top: 0.5rem;
}
.form__cross {
    @media screen and (max-width: 767px) {
        width: 25px;
        height: 25px;
    }
    @media screen and (max-width: 479px) {
        width: 18px;
        height: 18px;
    }
    width: 29px;
    height: 29px;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    cursor: pointer;
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        background: black;
    }
    &:before {
        top: -5px;
        left: 12px;
        width: 2px;
        height: 140%;
        transform: rotate(45deg);
    }
    &:after {
        top: -5px;
        left: 12px;
        height: 140%;
        width: 2px;
        transform: rotate(-45deg);
    }
}
.order {
    &__title {
        margin-bottom: 1.5rem;
        @media screen and (max-width: 479px) {
            flex-basis: 100%;
            order: 1;
        }
    }
    &__text {
        @media screen and (max-width: 479px) {
            flex-basis: 100%;
            order: 2;
        }
        margin: 0;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.3125rem;
        letter-spacing: 0.02em;
    }
    &__production {
        font-size: 1.125rem;
        line-height: 1.3125rem;
    }
    &__price {
        @media screen and (max-width: 479px) {
            display: flex;
            align-items: center;
            order: 5;
        }
        @media screen and (max-width: 414px) {
            display: block;
            flex-basis: 100%;
            order: 3;
        }
        font-weight: bold;
        font-size: 1.5625rem;
        line-height: 1.9375rem;
        margin: 1.25rem 0 1.0625rem;
    }
    &__form {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1024px;
        padding: 3.125rem 2.4375rem 1.5rem;
        background-color: white;
    }
    &__check {
        display: none;
    }
    &__label {
        position: relative;
        font-size: 1.5625rem;
        padding-left: 4.0625rem;
        margin-bottom: 1.8rem;
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 27px;
            height: 27px;
            border: 1px solid #ffa901;
            box-sizing: border-box;
            border-radius: 4px;
        }
    }
    &__check:checked + label::before {
        background: url(../image/svg/check.svg) no-repeat;
        background-position: 2px;
    }
    &__submit {
        @media screen and (max-width: 479px) {
            margin-top: 2rem ;
            max-width: 222px;
            width: 60%;
            order: 4;
        }
        @media screen and (max-width: 414px) {
            margin-top: 1rem ;
            max-width: 222px;
            width: 60%;
            order: 4;
        }
        max-width: 274px;
        width: 50%;
        height: 5.375rem;
        font-weight: bold;
        font-size: 1.5625rem;
        line-height: 1.8125rem;
        text-align: center;
        color: #ffffff;
        background: #ffa901;
        border: none;
        border-radius: 16px;
        filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.13));
    }
}
.choose-size {
    &__btn {
        @media screen and (max-width: 479px) {
            max-width: 222px;
            width: 60%;
        }
        width: 13.875rem;
        height: 3.5rem;
        cursor: pointer;
        border: 1px solid #ffa901;
        box-sizing: border-box;
        border-radius: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        & > span {
            position: relative;
            color: #ffa901;
            &::after {
                position: absolute;
                content: "";
                top: 4px;
                right: -25px;
                width: 13px;
                height: 7px;
                background: url(../image/svg/choose-arrow.svg) no-repeat;
                background-size: contain;
            }
        }
    }
    &__wrapper {
        @media screen and (max-width: 767px) {
            grid-template-rows: repeat(7, min-content);
        }
        @media screen and (max-width: 479px) {
            grid-template-rows: repeat(10, min-content);
        }
        display: grid;
        grid-template-rows: repeat(5, min-content);
        grid-auto-flow: column;
        gap: 0 1rem;
    }
}
.choose-wrapper {
    width: 100%;
}
