.mattress,
.pillow {
    &__img-wrapper {
        flex-basis: 58%;
    }
    &__img {
        width: 100%;
        height: auto;
    }
}
.product {
    max-width: 1550px;
    margin: 0 4.5833% 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    &__wrapper {
        max-width: 610px;
        width: 45%;
        padding-top: 9.1rem;
        margin-bottom: 3.125rem;
    }
    &__title {
        font-weight: bold;
        font-size: 45px;
        line-height: 53px;
        color: #000000;
        text-align: left;
        margin: 0;
    }
    &__list {
        margin: 2.1875rem 0 5rem;
        text-align: left;
        &-item {
            font-size: 20px;
            line-height: 154.4%;
        }
    }
    &__description {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, max-content);
        gap: 3.125rem 3.5rem;
    }
    &__select-btn {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    &__btn-wrapper {
        width: 100%;
    }
}
.description {
    &__icon-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    &__text {
        flex-basis: 76%;
        margin: 0;
    }
    &__icon-price {
        background: url(../image/svg/label-price.svg) no-repeat;
    }
    &__icon-guarantee {
        background: url(../image/svg/label-guarantee.svg) no-repeat;
    }
    &__icon-delivery {
        background: url(../image/svg/label-delivery.svg) no-repeat;
    }
    &__icon-present {
        background: url(../image/svg/label-present.svg) no-repeat;
    }
    &__icon-cover {
        background: url(../image/svg/label-cover.svg) no-repeat;
    }
}
.label-icon {
    flex-basis: 23%;
    height: 75px;
    background-size: contain;
    background-position-y: center;
}
