html {
    box-sizing: border-box;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    color: #000000;
    background-color: rgba($color: rgb(173, 173, 173), $alpha: 0.8);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}
main {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 1rem 3.125rem;
    background: white url(../image/png/backgrount-main.png);
}